@media screen and (min-width: 768px) {
    .shop-list_list-scroll::-webkit-scrollbar {
        width: 9px;
    }
     
    .shop-list_list-scroll::-webkit-scrollbar-track {
        background: rgba(0,0,0,0.1);
        border-radius: 10px;
    }
     
    .shop-list_list-scroll::-webkit-scrollbar-thumb {
        background: #aac124;
        border-radius: 10px;
    }
}
