.menu__item {
    display: inline-block;
    border-left: 1px solid #DFDFDF;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10pt;
    font-family: Arial;
    cursor: pointer;
}