@media screen and (max-width: 767px) {
    .feedback__email-mobile {
        display: block;
        text-align: center;
        font-family: Verdana;
        padding: 10px 0;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .feedback__email-mobile {
        display: none;
    }
}