@media screen and (max-width: 768px) {
    .phone-line {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .phone-line {
        display: table-cell;
        width: 1%;
        height: 29px;
        vertical-align: middle;
        padding: 0 10px;
    }
}

@media screen and (min-width: 1023px) {
    .phone-line {
        display: table-cell;
        padding: 20px 0;
        text-align: center;
        vertical-align: top;
    }
}